@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

/* Italics */
@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_Thin_Italic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_ExtraLight_Italic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_Light_Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_SemiBold_Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_Bold_Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rigid Square';
    src: url('./fonnts.com-Rigid_Square_ExtraBold_Italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}
